<form action="/" method="post">
    <p>
        <input type="text" id="search" name="search" title="Search city or place" placeholder="Search city or place">
    </p>
    <p>
        <button type="submit">send</button>
    </p>
</form>
